.Usuario {
  @apply bg-gray-600 opacity-90 hover:opacity-100 shadow-md rounded-lg 
  overflow-hidden my-4 w-96 transition duration-300 ease-in-out 
  hover:shadow-2xl;
}

.Usuario img {
  @apply w-full h-56 object-cover object-center;
}

.Icono {
  max-width: 20px;
  max-height: 20px;
}
